---
import BaseLayout from '../../layouts/BaseLayout.astro'
import PostItemArchive from '../../components/post/PostItemArchive.astro'
import { getAllNotes } from '../../libs/content-loader'
import PageHero from '../../components/post/PageHero.astro'

const allPosts = await getAllNotes()
---

<BaseLayout>
  <div>
    <PageHero title="技术笔记">
      <p class="">共有 {allPosts.length} 篇文章。</p>
    </PageHero>

    <main>
      {
        allPosts.map((post) => (
          <PostItemArchive
            key={post.id}
            post={{ id: post.id, url: '/posts/' + post.id, title: post.data.title, date: post.data.date }}
          />
        ))
      }
    </main>
  </div>
</BaseLayout>
