---
import BaseLayout from '../../layouts/BaseLayout.astro'
import PostItemArchive from '../../components/post/PostItemArchive.astro'
import { getAllPosts } from '../../libs/content-loader'
import PageHero from '../../components/post/PageHero.astro'

const allPosts = await getAllPosts()
---

<BaseLayout>
  <PageHero title="归档">
    <p class="">共有 {allPosts.length} 篇文章。</p>
  </PageHero>

  <main>
    {allPosts.map((post) => <PostItemArchive key={post.id} post={{ url: `/posts/${post.id}`, ...post.data }} />)}
  </main>
</BaseLayout>
