:root {
  /*--bg-color: #ccc9af;*/
  /*--bg-color: #f5ede3;*/
  --bg-color: #eee;
  --text-color: #222;
  --text-color-secondary: #555;
}

.dark {
  --bg-color: #000;
  --text-color: #cdcdcd;
  --text-color-secondary: #aaa;
}
