---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import PostItemArchive from '../../components/post/PostItemArchive.astro'

export async function getStaticPaths() {
  const allPosts = await getCollection('essays')

  const uniqueTags = [...new Set(allPosts.flatMap((post: any) => post.data.tags))]

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.data.tags.includes(tag))
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<BaseLayout>
  <h1 class="mb-6 text-2xl font-bold">#{tag}</h1>

  {
    posts.map((post) => (
      <PostItemArchive
        post={{ id: post.id, url: '/essays/' + post.id, title: post.data.title, date: post.data.date }}
      />
    ))
  }
</BaseLayout>
