---
import BaseLayout from '../../layouts/BaseLayout.astro'
import PageHero from '../../components/post/PageHero.astro'
import Tag from '../../components/post/Tag.astro'
import { getAllTags } from '../../libs/content-loader'

const tags = await getAllTags()
---

<BaseLayout>
  <PageHero title="Tags" />

  <ul class="flex flex-wrap gap-x-4 gap-y-2">
    {
      tags.map(({ label, count }) => (
        <li>
          <Tag tag={label} count={count} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
