---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="404">
  <main>
    <h1 class="mb-8 text-2xl font-bold">404</h1>
    你来到了没有知识的荒原，快去 <a href="/" class="text-lg underline">首页</a> 找找吧~
  </main>
</BaseLayout>
