---
// import { fetchAllPosts } from '../../scripts/notion-fetcher'
// import { convertWithMedia } from '../../scripts/md-downloader'
//
// // const ps = await fetchAllPosts('1a5c485ef35680c0a8e1d353b5bfc864')
// const ps = await fetchAllPosts('250c485ef35680f38bb6fc7d744cd009')
// const posts = ps.filter((p) => p.slug)
// console.log(posts)
//
// // posts.map(async (p) => {
// //   await convertWithMedia(p)
// // })
// await convertWithMedia(posts[0])

// import { fetchAndSavePosts } from '../../scripts/post-fetcher'
// await fetchAndSavePosts()
console.log('=====结束')
---

<h1>Bingo Bingo</h1>
