---
import BaseLayout from '../../layouts/BaseLayout.astro'
import PostItem from '../../components/post/PostItem.astro'
import { getAllEssays } from '../../libs/content-loader'

const allPosts = await getAllEssays()
---

<BaseLayout>
  <div>
    <div class="mb-10">
      <h1 class="text-3xl font-bold">随笔</h1>
      <p class="">共有 {allPosts.length} 篇文章。</p>
    </div>

    <main>
      {allPosts.map((post) => <PostItem key={post.id} post={{ url: '/essays/' + post.id, ...post.data }} />)}
    </main>
  </div>
</BaseLayout>
