---
import BaseLayout from '../../layouts/BaseLayout.astro'
import PostItem from '../../components/post/PostItem.astro'
import { getAllEssays } from '../../libs/content-loader'
import PageHero from '../../components/post/PageHero.astro'

const allPosts = await getAllEssays()
---

<BaseLayout>
  <div>
    <PageHero title="随笔">
      <p class="">共有 {allPosts.length} 篇文章。</p>
    </PageHero>

    <main>
      {allPosts.map((post) => <PostItem key={post.id} post={{ url: '/essays/' + post.id, ...post.data }} />)}
    </main>
  </div>
</BaseLayout>
