---
import { formatDate } from '../../libs/support'
const post = Astro.props.post
console.log(post)

const isNotesPage = ['/notes', '/notes/', 'notes'].includes(Astro.url.pathname)
---

<div class="mb-3 block last:mb-0">
  <div class={`flex gap-3 before:content-['${post.category}']`}>
    <h2 class="relative flex-1">
      {
        !isNotesPage &&
          (post.category === 'Notes' ? (
            <span class="absolute -left-12 rounded bg-[#f6f6f7] px-1 py-0.5 text-xs text-gray-400 max-md:hidden">
              技术
            </span>
          ) : (
            ''
          ))
      }

      <a href={post.url} class="underline-offset-4 hover:underline">
        {post.title}
      </a>
    </h2>
    <div class="text-secondary shrink-0 text-sm leading-6">{formatDate(post.date)}</div>
  </div>
</div>
