---
const headings = Astro.props.headings
---

<div
  class="] text-secondary fixed top-20 right-6 max-h-[calc(95vh-10rem)] max-w-[20em] overflow-y-auto pr-6 text-sm max-xl:hidden"
>
  <span class="text-xl font-bold">ㆆᵕㆆ…</span>
  <div class="mt-1 space-y-1">
    {
      headings.map((heading) => (
        <div class={`${heading.depth > 2 ? 'ml-4' : ''}`}>
          <a href={`#${heading.slug}`} class="break-words whitespace-normal underline-offset-4 hover:underline">
            {heading.text}
          </a>
        </div>
      ))
    }
  </div>
</div>
