---
import '../../styles/markdown-image.css' // 引入图片样式
---

<div
  class="prose sm:prose-p:tracking-[.01em] 2xl:prose-p:tracking-[.04em] prose-a:decoration-1 prose-p:text-justify prose-img:rounded-xl prose-code:before:content-none prose-code:after:content-none prose-blockquote:[&_p]:before:content-none prose-blockquote:[&_p]:after:content-none prose-img:sm:w-[90%] dark:prose-invert prose-img:mx-auto max-w-none text-base leading-loose break-words xl:text-lg"
>
  <slot />
</div>
