---

---

<div
  class="prose sm:prose-p:tracking-[.01em] 2xl:prose-p:tracking-[.04em] prose-a:decoration-1 prose-p:text-justify prose-img:rounded-xl prose-code:before:content-none prose-code:after:content-none prose-blockquote:[&_p]:before:content-none prose-blockquote:[&_p]:after:content-none hover:prose-img:scale-101 prose-img:sm:w-[90%] dark:prose-invert prose-img:mx-auto max-w-none text-base leading-loose break-words transition duration-200 xl:text-lg"
>
  <slot />
</div>
