---
const { tag, count } = Astro.props
---

<a
  href={`/tags/${tag}`}
  class="inline-block rounded bg-gray-100 px-2 py-1 text-sm transition-all duration-300 ease-in-out hover:bg-gray-200 2xl:px-3 2xl:text-base"
>
  #{tag}
  {count}
</a>
