---
const word = {
  title: 'Word',
  content: 'Description',
  time: '2023-01-01 18:20:20',
  tags: ['tag1', 'tag2'],
}
---

<article class="border">
  <div>{word.title}</div>
  <div>{word.content}</div>
  <div class="flex">
    <div>{word.time}</div>
    <div>{word.tags}</div>
  </div>
</article>
