---
import BaseLayout from '../../layouts/BaseLayout.astro'
import PageHero from '../../components/post/PageHero.astro'
import Loading from '../../components/ui/Loading.astro'
import Words from '../../components/word/Words.astro'

export const prerender = false
---

<BaseLayout>
  <PageHero title="说说">
    <p class="text-secondary text-sm">
      说说（Daily Words)：一句话叙当前所历之事，一句话抒此刻难言之情，一句话吐所遇违心之槽。
    </p>
  </PageHero>

  <Words server:defer>
    <Loading slot="fallback" />
  </Words>
</BaseLayout>
