---
import BaseLayout from '../../layouts/BaseLayout.astro'
import PageHero from '../../components/post/PageHero.astro'
import Words from '../../components/post/Words.vue'
---

<BaseLayout>
  <PageHero title="说说">
    <p class="text-secondary text-sm">
      说说（Daily Words)：一句话叙当前所历之事，一句话抒此刻难言之情，一句话吐所遇违心之槽。
    </p>
  </PageHero>

  <Words client:load />
</BaseLayout>
