---

---

<footer class="pt-16 pb-16 text-sm">
  <div class="mt-10 mb-5 items-center justify-between min-md:flex">
    <div>
      <a
        target="_blank"
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        class="text-inherit underline-offset-4 hover:underline"
      >
        CC BY-NC-SA 4.0
      </a>
      <span>&nbsp; © </span>
      <a href="/" class="underline-offset-4 hover:underline">林深时觉寒</a>
      <span>2012 - {new Date().getFullYear()}</span>
    </div>

    <div>
      <a href="/" class="underline-offset-4 hover:underline">RSS</a>
      <span>&nbsp;·&nbsp;</span>
      <a href="/" class="underline-offset-4 hover:underline">Sponsor</a>
    </div>
  </div>
</footer>
