---
import SiteConfig from '../../ilvme.config'
import ThemeToggle from './ThemeToggle.astro'

const navs = [
  { name: '随笔', link: '/essays/' },
  { name: '技术笔记', link: '/notes/' },
  { name: '归档', link: '/archive/' },
  { name: '标签', link: '/tags/' },
  { name: '说说', link: '/words/' },
  { name: '朋友', link: '/friends/' },
]
---

<header class="mb-8 flex items-center justify-between gap-1.5 pb-8">
  <h1 class="text-xl font-bold">
    <a href="/">{SiteConfig.title}</a>
  </h1>

  <div class="flex gap-4">
    {
      navs.map((nav) => (
        <a
          href={nav.link}
          class="font-medium opacity-60 transition-opacity duration-200 ease-initial hover:opacity-100"
        >
          {nav.name}
        </a>
      ))
    }
    <ThemeToggle />
  </div>
</header>
